<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    <description>Pivot Web Query Test</description>
    <display-name>Pivot Web Query Test</display-name>

    <servlet>
        <servlet-name>WebQueryTestServlet</servlet-name>
        <servlet-class>pivot.web.test.server.WebQueryTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WebQueryTestServlet</servlet-name>
        <url-pattern>/webquery/*</url-pattern>
    </servlet-mapping>
</web-app>

