.DS_Store
.bzr
.hg
.svn
.cache
.gradle
.metadata
.settings
*.bak
*.db
*.hprof
*.log
*.tmp
/*.tar.gz
/*.zip
/*.log
/*DB.*
/*.ser
**/_old/
**/ant-bin/
**/bin/
**/out/
**/target/
**/target-eclipse/
**/temp/
/lib/
/dist/
/doc/
/install/
/maven-install/
