<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/wtk/src/pivot/wtk/DesktopApplicationContext.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pivot.wtk.DesktopApplicationContext"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="pivot.tools.explorer.Explorer applicationClassName:pivot.tutorials.stocktracker.StockTracker"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tools"/>
</launchConfiguration>
