p.caption {
    font-style:italic;
}

p.command {
    padding-left:24px;
}

pre.java {
    padding:4px;
    border:solid 1px #999999;
}

pre.xml {
    padding:4px;
    border:solid 1px #999999;
}

pre.html {
    padding:4px;
    border:solid 1px #999999;
}
