body {
    font-family:Verdana;
    font-size:11px;
}

p.caption {
    font-style:italic;
    padding-top:0px;
}

p.command {
	font-family:"Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New";
    background-color:#E7E5DC;
    padding-top:12px;
    padding-left:24px;
    padding-bottom:12px;
    padding-right:24px;    
}

pre.snippet {
    padding:6px;
    border:#E7E5DC solid 1px;
	font-family:"Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New";
	font-size:1em;
}

tt {
    font-family:"Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New";
}

table {
    font-size:11px;
}
