p.caption {
    font-style:italic;
    padding-top:0px;
}

p.command {
    padding-left:24px;
}

pre.snippet {
    margin-left:24px;
    margin-right:24px;
    padding:4px;
    background-color:#eeeeee;
}
